<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white card-body p-5 text-center" style="border-radius: 1rem;">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm" >
           
                  <div class="form-outline form-white mb-4">
                    <input type="text" id="grupo" class="form-control" placeholder="Grupo" name="grupo" [(ngModel)]="grupo" required/>
                    <label class="form-label" for="grupo"></label>
                  </div>

                  <div class="form-outline form-white mb-4">
                      <input type="text" id="nombre" class="form-control" placeholder="Habilidad" name="nombre" [(ngModel)]="nombre" required>
                      <label class="form-label" for="nombre"></label>
                    </div>
                  
                  <div class="form-outline form-white mb-4">
                    <input type="text" id="categoria" class="form-control" placeholder="Categoría" name="categoria" [(ngModel)]="categoria" required>
                    <label class="form-label" for="categoria"></label>
                </div>
                  <div class="form-outline form-white mb-4">
                    <input type="text" id="nivel" class="form-control" placeholder="Nivel" name="nivel" [(ngModel)]="nivel" required>
                    <label class="form-label" for="nivel"></label>
                </div>
                <div class="form-outline form-white mb-4">
                    <input type="file" class="form-control" placeholder="Imagen" id="img" name="img" [(ngModel)]="img" required>
                    <label class="form-label" for="img"></label>
                </div>
                
                <button class="btn btn-outline-light px-5" type="submit">Agregar habilidad</button>

                </form>
              </div>
            </div>        
        </div>
      </div>
    </div>
  </section>